table{
    width:400px;
    margin: 0 auto;
 }
.table-wrapper{
    min-height: 420px;
}
td{
    background-color: #fff;
    padding: 5px;
    color: #242424;
    font-weight: bold;
    font-family: Arial;
}